extends ../base

block content
  .pageTitle=pageTitle
  //- .search-result
  //-   if result 
  //-     .result-value
  //-       span '#{result.keyword}'
  //-       span 검색 결과 총 #{result.videos.length}건
  //-     ul.result-list.chart
  //-       if result
  //-         each video, index in result.videos
  //-           +chart(video, index)
  //-         else
  //-           include partials/empty