extends ../base

block content
  .pageTitle=pageTitle
  ul.my-play-lists
    li.add-playlist 플리 추가하기
    each myPlayList in myPlayLists
      li.playlist(data-id=myPlayList._id)
        a(href=`/playlist/${myPlayList._id}`)=myPlayList.name

  