extends ../base

block content
  .pageTitle=pageTitle
  ul.my-play-lists
    li.add-playlist
      a(href="/playlist/create")
        .thumbnail-wrap
          i.fa-solid.fa-plus
        .title 새 플레이리스트 추가
    each playlist in playlists
      li.playlist(data-id=playlist._id)
        a(href=`/playlist/${playlist._id}`)
          .thumbnail-wrap 
            .overlay 
              .fa-solid.fa-ellipsis-vertical
            i.fa-solid.fa-play 
            .thumbnail 
              .thumb 
              .thumb 
              .thumb 
              .thumb 
          .title=playlist.name
          .info-wrap 
            .count 10개의 영상
            .runningTime 14:00:23