extends ../base
include ../mixins/chartWithRemove

block content
  .pageTitle=pageTitle
  .header header
  .count 총 #{playlist.videos.length}개의 영상 (조회수 순)
  ul.chart
    if playlist.videos.length > 0
      each item, index in playlist.videos 
        +chartWithRemove(item.video, item.isLiked, index)
    else 
      li 플레이리스트 내에 영상이 존재하지 않습니다.