html[data-theme="darkMode"] {
  --primary: #f6c2ce;
  --mainNavBg: #000000;
  --mainNavTitle: #ff4757;
  --mainNavText: rgba(255,255,255,0.8);
  --mainNavTextHover: rgba(255,255,255,1);
  --buttonColor: #ff4757;
  --hoverColor: #222222;
  --iconColor: #ff4757;
  --activeIcon: #ff4757;
  --bg: #000000;
  --text: #ffffff;
  --navText: #ffffff;
  --logoText: #ff4757;
  --themeMode: #ff4757;
  --progressBar: #ff4757;
  --progressBg:#555555;
  --controlBg:#000000;
  --controlText: #ffffff;
  --controlIcon: #f6c2ce;
}

html[data-theme="lightMode"] {
  --primary: #f6e58d;
  --mainNavBg: #f6e58d;
  --mainNavTitle: #f39c12;
  --mainNavText: rgba(0,0,0,0.8);
  --mainNavTextHover: rgba(0,0,0,1);
  --buttonColor: #f6e58d;
  --hoverColor: #f6e58d;
  --iconColor: #333333;
  --activeIcon: #333333;
  --bg: rgb(247, 240, 208);
  --text: #333333;
  --navText: #333333;
  --logoText: #f39c12;
  --themeMode: #f39c12;
  --progressBar: #f39c12;
  --progressBg:#fdcb6e;
  --controlBg:#f6e58d;
  --controlText: #333333;
  --controlIcon: #f39c12;
}

body {
  --dockBarHeight:70px;
}