mixin new(video)
  li
    .thumbnail-wrap
      div(data-id=video._id).overlay.play
        i.fa-solid.fa-play
      .thumbnail(style=`background-image: url(${video.thumbUrl})`)
    .info-wrap
      .title=video.title
      //- span.category=video.category
      //- span.createdAt=video.createdAt