mixin new(video)
  li
    .thumbnail-wrap
      div(data-id=video._id).overlay.play
        i.fa-solid.fa-play
      .thumbnail(style=`background-image: url(${video.thumbUrl})`)
    .info-wrap
      .title=video.title
      .category 풍월량
      .createAt 15분 전