mixin popular(video, isLiked)
  li
    .left-box
      .thumbnail(style=`background-image: url(${video.thumbUrl})`)
      .rank
        .icon 🥇
        .view 130
      .info
        .title=video.title
        .views 조회수 100
        .likes 좋아요 #{video.likes.length}
    .right-box 
      i(data-id=video._id).fa-solid.fa-play.play
      if isLiked
        i.fa-solid.fa-thumbs-up.like
      else
        i.fa-regular.fa-thumbs-up.like
      i.fa-solid.fa-plus