mixin recommend(playlist)
  li(data-id=playlist._id)
    .thumbnail-wrap 
      .overlay
      i.fa-solid.fa-play.playlist-play-btn
      .thumbnail 
        each video, index in playlist.videos 
              if index <= 3
                .thumb(style=`background-image: url(${video.thumbUrl})`)
    a(href=`/playlist/${playlist._id}`).title=playlist.name
    .info-wrap
      .count #{playlist.videos.length}개 영상