@import "./config/_reset";
@import "./config/_variable";

// components
@import "./components/player.scss";
@import "./components/mobileNav.scss";
@import "./components/mainNav.scss";
@import "./components/themeToggleBtn.scss";


html {
  background-color: var(--bg);
}

main {
  margin-left: 240px;
  padding: 50px 50px 120px;
}