//Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

//Common
@import "./config/_reset";
@import "./config/_variable";

//Components
@import "./components/player.scss";
@import "./components/mobileNav.scss";
@import "./components/mainNav.scss";
@import "./components/themeToggleBtn.scss";
@import "./components/input.scss";
@import "./components/form.scss";
@import "./components/searchInput.scss";


//Mixins
@import "./components/new.scss";
@import "./components/popular.scss";
@import "./components/recommend.scss";
@import "./components/selectAvatar.scss";

//Screens
@import "./screens/uploadVideo.scss";


//Default
* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  transition: background-color 0.3s ease-in-out;

  body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.5px;
    line-height: 1;
  
    main {
      margin-left: 240px;
      padding: 110px 50px 120px;

      .pageTitle {
        font-size:2.5rem;
        font-weight:bold;
        text-align: center;
        margin-bottom:30px;
      }

      .errorMsg {
        font-size: 1.4rem;
        color: red;
        text-align: center;
        margin-bottom: 20px;
      }

      //검색
      .sub-title {
        font-size:1.5rem;
        text-align: center;
      }

      //회원가입 아바타선택 타이틀
      .label {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 10px;
        margin-top: 30px;
      }
    
      section {
        margin-bottom:50px;
    
        h1 {
          font-size:2.5rem;
          font-weight:bold;
          margin-bottom:25px;
        }
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  main {
    margin-left:0!important;
    padding: 110px 20px 120px!important;
  }
}