.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 100vh;
  padding: 50px 30px;
  padding-bottom: 110px;
  background-color: var(--primary);
  overflow-y: auto;
  user-select: none;
}