#player {
  background-color: var(--playerBg);

  #controlBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 80px;
    background-color: var(--playerBg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 10px;
    padding: 0 15px;

    .progress-container {
      position: absolute;
      top:-5px;
      left:0;
      width:100%;
      height:5px;
      background-color: #333333;
      cursor: pointer;

      #toolTip {
        display: none;
        font-size:1.4rem;
        position: absolute;
        top: -35px;
        left:0;
        background-color: #ffffff;
        padding:5px 10px; 
        border-radius: 3px;
        line-height: 13px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      #progressTime {
        background: red;
        height: 100%;
      }
    }

    .control-container {
      display: flex;
      justify-content: left;
      flex-direction: row;
      align-items: center;
      i {
        font-size:2rem;
        cursor: pointer;
      }
      .fa-play, .fa-pause {
        font-size:3rem;
        margin:0 10px;
      }
      .time-container {
        margin-left:15px;
        font-size:1.4rem;
        letter-spacing: -0.5px;
        span:nth-child(2) {
          display: inline-block;
          margin:0 5px;
        }
      }
    }

    .playInfo-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      #cover {
        width: 90px;
        height: 50px;
        margin-right:10px;
        display: block;
        background-color: #333333;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .info-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        font-size: 1.4rem;

        #title {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          overflow: hidden;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    .desc-container {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      i {
        font-size:2rem;
        cursor: pointer;
      }
      .volume-container {
        display: flex;
        align-items: center;
        margin-right: 15px;

        .sound-wrap {
          padding: 5px 0;
          cursor: pointer;
          
          #soundRange {
            width: 0px; //70px
            height: 3px;
            background: #333333;
            transition: width 0.3s ease-in-out;

            .value {
              height:100%;
              background-color: red;
            }
          }
        }
        .fa-volume-high, .fa-volume-xmark {
          margin:0 15px 0 10px;
        }
        .fa-repeat, .fa-rotate-right {
          margin-right:15px;
        }
      }
      .fa-caret-up {
        font-size:3rem;
      }
      .fa-caret-down {
        font-size:3rem;
      }
    }
  }

  #playlistView {
    position: fixed;
    bottom:80px;
    left:0;
    width:100%;
    height: calc(100% - 80px);
    background-color: #333333;
    display: flex;
    flex-direction: column;
    transform: translateY(9999px);
    transition: transform 0.3s ease-in;
    
    #viewScreen {
      width:100%;
      height:50vh;
      background-color: #000000;
    }
  }
}