.popular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: center;
  column-gap: 30px;
  margin-bottom: 50px;
  row-gap: 15px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;

    .left-box{
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .thumbnail {
        aspect-ratio: 16/9;
        width:130px;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .rank {
        font-weight: bold;
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .icon {
          font-size: 3.5rem;
          margin-bottom: 10px;
        }

        .view {
          font-size: 1.4rem;
        }
      }

      .info {
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: 1.5rem;
        padding-right: 20px;
        align-self: stretch;

        .title {
          font-size: 1.5rem;
          font-weight:500;
          --max-lines: 2;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: left;
          margin-bottom: 7px;
          line-height: 1.2;
        }

        .desc {
          display: flex;
          flex-direction: row;
          align-items: center;

          .views {
            margin-right:10px;
            font-size:1.3rem;
            font-weight:500;
          }

          .likes {
            margin-right:10px;
            font-size:1.3rem;
            font-weight:500;
          }
        }
      }
    }
    .right-box{
      display: none; //flex
      flex:1;
      padding-top:10px;

      i {
        font-size: 1.8rem;
        display: inline-block;
        margin: 0 10px;
        cursor:pointer;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .popular {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    .right-box {
      display: block!important;
      padding-top:0!important;
      flex:none!important;
    }
  }
}

@media screen and (max-width: 768px) {
  .popular {

    .left-box {
      .thumbnail {
        display: none;
      }
    }
  }
}