doctype html 
html(lang="ko")
  head
    script.
      const KEY_NAME = "poong_player_theme";
      const theme = localStorage.getItem(KEY_NAME) || "darkMode";
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem(KEY_NAME, theme);

    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    //- link(rel='shortcut icon' href='/public/client/icon/icon.png')
    //- link(rel='apple-touch-icon' sizes='180x180' href='/public/client/icon/icon_ios.png')
    //- link(rel='icon' sizes='192x192' href='/public/client/icon/icon_android.png')
    link(rel="shortcut icon", href="#")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='Poong Player')
    meta(property='og:url' content='')
    meta(property='og:type' content='website')
    //- meta(property='og:image' content='/public/client/img/logo.png')
    meta(property='og:description' content='ðŸš€ ì¦ê²œëŸ¬ ìŠ¤íŠ¸ë¦¬ë¨¸ í’ì›”ëŸ‰ë‹˜ì„ ì‘ì›í•˜ëŠ” ê²Œìž„ ì˜ìƒ ì‹œì²­ í”Œëž«í¼')
  
  body
    include partials/mobileNav
    include partials/mainNav

    button#themeToggleBtn Theme ToggleBtn

    main
      block content
    
    include partials/player

  script.
    const themeToggleBtn = document.getElementById("themeToggleBtn");
    themeToggleBtn.className = theme === "darkMode" ? "darkMode" : "lightMode";

    const toggleTheme = (event) => {
      if (event.target.className === "darkMode"){
        document.documentElement.setAttribute("data-theme", "lightMode");
        event.target.className = "lightMode";
        localStorage.setItem(KEY_NAME, "lightMode");

      } else if (event.target.className === "lightMode"){
        document.documentElement.setAttribute("data-theme", "darkMode");
        event.target.className = "darkMode";
        localStorage.setItem(KEY_NAME, "darkMode");
      }
    }

    themeToggleBtn.addEventListener("click", toggleTheme);

  script(src="https://www.youtube.com/iframe_api")
  script(src="/static/js/main.js")