include mixins/notificationMsg

doctype html 
html(lang="ko")
  head
    include partials/head
  body
    include partials/mobileNav
    include partials/mainNav
    include partials/themeBtn
    main
      if messages.error
        +notificationMsg("error", messages.error)
      if messages.info
        +notificationMsg("info", messages.info)
      block content
    include partials/player
    include partials/modal
    include partials/playlistMenuModal
script(src="https://www.youtube.com/iframe_api")
script(src="/static/js/main.js")