doctype html 
html(lang="ko")
  head
    include partials/head
  body
    include partials/mobileNav
    include partials/mainNav
    include partials/themeBtn
    main
      block content
    include partials/player
script(src="https://www.youtube.com/iframe_api")
script(src="/static/js/main.js")