extends base
include ./mixins/videoList

block content
  .container
    h1 인기 영상
    ul.video-list
      each video in videos
        +videoList(video)
    h1 최신 영상
    ul.video-list

    h1 추천 영상
    ul.video-list