extends base
include ./mixins/new
include ./mixins/popular
include ./mixins/recommend

block content
  section
    h1 ðŸš€ ìµœì‹  ì—…ë¡œë“œ ì˜ìƒ
    if recentUploadVideos.length > 0
      ul.new
        each video in recentUploadVideos
          +new(video)
    else
      include partials/empty
  section
    h1 ðŸª² ë‹¤ë¥¸ í’ëŽ…ì´ë“¤ì´ ë§Žì´ ë³¸ ì˜ìƒ
    if mostViewedVideos.length > 0
      ul.popular
        each video in mostViewedVideos
          +popular(video)
    else
      include partials/empty
  section
    h1 ðŸ“Œ ì¶”ì²œ í’ë ˆì´ë¦¬ìŠ¤íŠ¸
    if recommendPlaylists.length > 0
      ul.recommend
        each video in recommendPlaylists
          +recommend(video)
    else
      include partials/empty
  section
    h1 ðŸŽ§ ì‰¬ëŠ” ì‹œê°„
    if restTimeVideos.length > 0
      ul.popular
        each video in restTimeVideos
          +popular(video)
    else
      include partials/empty