extends base
include ./mixins/new
include ./mixins/popular
include ./mixins/recommend

block content
  section
    h1 ðŸš€ ìµœì‹  ì—…ë¡œë“œ ì˜ìƒ
    if recentUploadVideos.length > 0
      ul.new
        each video in recentUploadVideos
          +new(video)
      .show-more-btn
        span ë”ë³´ê¸°
        i.fa-solid.fa-angle-down
    else
      include partials/empty
  section
    h1 ðŸª² ë§Žì´ ë³¸ í’ì›”ëŸ‰ ì˜ìƒ
    ul.popular
      each mostViewedVideo, index in mostViewedVideos
        +popular(mostViewedVideo.video, mostViewedVideo.isLiked, index)
  section
    h1 ðŸ“Œ ì¶”ì²œ í’ë ˆì´ë¦¬ìŠ¤íŠ¸
    if recommendPlaylists.length > 0
      ul.recommend
        each playlist in recommendPlaylists
          +recommend(playlist)
    else
      include partials/empty
  section
    h1 ðŸŽ§ ì‰¬ëŠ” ì‹œê°„
    if restTimeVideos.length > 0
      ul.popular
        each restTimeVideo, index in restTimeVideos
          +popular(restTimeVideo.video, restTimeVideo.isLiked, index)
    else
      include partials/empty