extends base
include ./mixins/chart

block content
  .pageTitle.chart=pageTitle
  .sub-title.chart Poong Player ë‚´ DB ì¡°íšŒìˆ˜ ê¸°ì¤€ìœ¼ë¡œ ìž‘ì„±ë˜ì—ˆìŠµë‹ˆë‹¤. ðŸ‘€
  section.chart-section
    //- if videos.length > 0
    //-   ul.chart
    //-     each video, index in videos
    //-       +chart(video.video, video.isLiked, index)
    //- else
    //-   include partials/empty