.main-nav
  a.logo(href="/") POONG PLAYER
  .profile
    if loggedIn
      .avatar(style=`background-image: url(${loggedInUser.avatarUrl})`)
      .nickname=loggedInUser.username
    else
      .avatar(style='background-image: url(/static/images/image4.png)')
      .nickname 손님 풍뎅이
    .setting
      if loggedIn
        a(href="/user/edit") 회원정보
        span |
        a(href="/user/logout") 로그아웃
      else
        a(href="/login") 로그인
        span |
        a(href="/join") 회원가입
    .menu-list 
      .title MENU
      ul
        li
          i.fa-solid.fa-bug
          a(href="/")
            span 홈
        li
          i.fa-solid.fa-ranking-star
          a(href="/most-viewed")
            span 인기영상
        li
          i.fa-solid.fa-magnifying-glass
          a(href="/search")
            span 검색
        li
          i.fa-solid.fa-arrow-up-from-bracket
          a(href="/upload-video")
            span 영상 업로드
      .event-list
        .title PLAYLIST
        ul
          li
            i.fa-solid.fa-thumbs-up
            a(href="/playlist/liked")
              span 나의 좋아요 영상
          li
            i.fa-solid.fa-video
            a(href="/playlist/mine")
              span 내 플레이리스트
      i.fa-solid.fa-close.closeBtn