#player
  #controlBar
    .progress-container 
      #progressBar(style="")
      #progressTime 00:00
    .playInfo-container 
      #cover video cover
      .info-container 
        .title 비디오제목
        .artist 풍월량
    .control-container
      .random randomBtn 
      .prev prevBtn
      .play playBtn
      .next nextBtn
      .repeat repeatBtn
    .desc-container
      .time-container
        span#currentTime 00:00
        span /
        span#duration 00:00:00
      .volume-container volume
      .playlistViewToggleBtn show playlist

  #playlistView 
    .youtube-container 
      #youtubeWrapper
        iframe youtube iframe
        button 영상 숨기기
    .playlist-container
      .header
        .title 최근 본 영상
      ul#playlist
        li
          .thumbnail-container
            img(src="", alt="thumbnail")
            .overlay overlay
          .info-container 
            span.title 영상 제목
            span.artist 풍월량
          .deleteBtn 영상삭제