#player
  #controlBar
    .progress-container 
      #progressBar
      #progressTime(style="width:10%")
    .control-container
      i.fa-solid.fa-backward-step#prevBtn
      i.fa-solid.fa-play#playBtn
      i.fa-solid.fa-forward-step#nextBtn
      .time-container
        span#currentTime 00:00
        span /
        span#duration 00:00
    .playInfo-container 
      div#cover
      .info-container 
        #title
        #category
    .desc-container
      .volume-container
        .sound-wrap
          #soundRange
            .value(style="width:30%")
        i.fa-solid.fa-volume-high#volumeBtn
        i.fa-solid.fa-repeat#repeatBtn
        i.fa-solid.fa-shuffle#randomBtn
      i.fa-solid.fa-caret-up#playlistViewToggleBtn

  #playlistView
    #viewScreen
    .playlist-container
      .header
        .title 최근 본 영상
      ul#playlist