extends ../base

block content
  div.pageTitle=pageTitle
  div.errorMsg=errorMsg
  form(method="POST")
    .username
      label(for="username") 유저네임
      input(name="username", id="username", type="text", required, placeholder="유저네임(1자 ~ 최대 6자)을 입력해주세요.")
    .password
      label(for="password") 비밀번호
      input(name="password", id="password", type="password", required, placeholder="비밀번호를 입력하세요. (최소 4자)")
    input(type="submit", value="로그인")
    a.link-to-join(href="/join") 아직 가입하지 않았나요? 회원가입